@font-face {
    font-family: ComicSansMS;
    src: url(Fonts/ComicSansMS/COMIC.TTF),
    url(Fonts/ComicSansMS/comici.ttf),
    url(Fonts/ComicSansMS/ComicSansMS3.ttf),
    url(Fonts/ComicSansMS/comicz.ttf),
    url(Fonts/ComicSansMS/design.graffiti.comicsansms.ttf),
    url(Fonts/ComicSansMS/design.graffiti.comicsansmsgras.ttf),
    url(Fonts/ComicSansMS/COMIC.woff2),
    url(Fonts/ComicSansMS/comici.woff2),
    url(Fonts/ComicSansMS/ComicSansMS3.woff2),
    url(Fonts/ComicSansMS/comicz.woff2),
    url(Fonts/ComicSansMS/design.graffiti.comicsansms.woff2),
    url(Fonts/ComicSansMS/design.graffiti.comicsansmsgras.woff2);
}

@font-face {
    font-family: BKamran;
    src: url(Fonts/BKamran/B\ Kamran_0.woff2),
    url(Fonts/BKamran/B\ Kamran\ Outline_0.woff2),
    url(Fonts/BKamran/B\ Kamran\ Bold_0.woff2),
    url(Fonts/BKamran/B\ Kamran_0.ttf),
    url(Fonts/BKamran/B\ Kamran\ Outline_0.ttf),
    url(Fonts/BKamran/B\ Kamran\ Bold_0.ttf);
}
