.AboutDeveloper {
    display: block;
    width: 100%;
    padding: 0.5vw 0 2vw;
    text-align: center;
    background: rgba(54, 143, 185, 0.815);
    box-shadow: 0 0 0.5vw 0.3vw rgba(0, 0, 0, 0.692);
}

/* ---------------------------------------------------------------------------------------------------------------------------------------- */

.AboutDeveloper h2 {
    font-size: 3vw;
}

/* ---------------------------------------------------------------------------------------------------------------------------------------- */

.AboutDeveloper p {
    font-size: 1.8vw;
    font-weight: bold;
}