.AboutDeveloper {
    display: block;
    width: 80%;
    padding: 3vw 0 8vw;
    margin: auto;
    border-top-left-radius: 3vw;
    border-top-right-radius: 3vw;
    text-align: center;
    background: rgba(54, 143, 185, 0.815);
    box-shadow: 0 0 2vw 1vw rgba(0, 0, 0, 0.664);
}

/* ---------------------------------------------------------------------------------------------------------------------------------------- */

.AboutDeveloper h2 {
    font-size: 8vw;
}

/* ---------------------------------------------------------------------------------------------------------------------------------------- */

.AboutDeveloper p {
    font-size: 5vw;
    font-weight: bold;
}
