@import url("-570px.css") screen and (max-width: 570px);
@import url("+570px.css") screen and (min-width: 571px);

body{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}
footer{
    margin-top: auto;
}
