.Profile,
.SectionBox {
    position: relative;
    width: 35%;
    padding: 3vw 0;
    margin: 10vw auto 2vw;
    border-radius: 1.2vw;
    text-align: center;
    background: rgba(54, 143, 185, 0.815);
    box-shadow: 0 0 0.7vw 0.3vw rgba(0, 0, 0, 0.692);
}

/* ---------------------------------------------------------------------------------------------------------------------------------------- */

@keyframes ProfileImage {
    0% {box-shadow: 0 0 1vw 0.2vw red;}
    10% {box-shadow: 0 0 1vw 0.2vw rgb(255, 94, 0);}
    20% {box-shadow: 0 0 1vw 0.2vw rgb(255, 217, 0);}
    30% {box-shadow: 0 0 1vw 0.2vw rgb(102, 255, 0);}
    40% {box-shadow: 0 0 1vw 0.2vw rgb(0, 255, 76);}
    50% {box-shadow: 0 0 1vw 0.2vw rgb(0, 225, 255);}
    60% {box-shadow: 0 0 1vw 0.2vw rgb(0, 38, 255);}
    70% {box-shadow: 0 0 1vw 0.2vw rgb(153, 0, 255);}
    80% {box-shadow: 0 0 1vw 0.2vw rgb(247, 0, 255);}
    90% {box-shadow: 0 0 1vw 0.2vw rgb(255, 0, 149);}
    100% {box-shadow: 0 0 1vw 0.2vw rgb(255, 0, 0);}
}

/* ---------------------------------------------------------------------------------------------------------------------------------------- */

.Profile img {
    width: 18vw;
    border-radius: 50%;
    margin: 2.5vw;
    animation: ProfileImage 20s infinite;
}

/* ---------------------------------------------------------------------------------------------------------------------------------------- */

.Profile h1 {
    font-size: 4vw;
    padding-right: 1vw;
}

/* ---------------------------------------------------------------------------------------------------------------------------------------- */

.Profile h2 {
    display: inline-block;
    font-size: 2vw;
    margin-top: 1vw;
}

/* =============================================================================================================== */

.SectionBox {
    width: 80%;
    margin: 2vw auto;
}

/* ---------------------------------------------------------------------------------------------------------------------------------------- */

.SectionBox h3 {
    font-size: 2.2vw;
    margin-bottom: 1vw;
}

/* =============================================================================================================== */

.ID {
    margin-top: -7vw;
}

/* =============================================================================================================== */

.About {
    display: inline-block;
    width: 45%;
    margin: 0 1vw;
    text-align: right;
    vertical-align: top;
}

/* ---------------------------------------------------------------------------------------------------------------------------------------- */

.About h3 {
    font-size: 2vw;
}

/* ---------------------------------------------------------------------------------------------------------------------------------------- */

.About .English {
    font-size: 1vw;
}

/* ---------------------------------------------------------------------------------------------------------------------------------------- */

.About p {
    font-size: 1.6vw;
    font-weight: bold;
    text-align: justify;
}

/* =============================================================================================================== */

.PersonalDetail p {
    display: inline-block;
    width: 45%;
    font-size: 1.5vw;
}

/* =============================================================================================================== */

.ProgressBar {
    display: inline-block;
    width: 35vw;
    margin: 1vw;
}

/* ---------------------------------------------------------------------------------------------------------------------------------------- */

.ProgressBar h5 {
    font-size: 1.1vw;
    float: left;
}

/* ---------------------------------------------------------------------------------------------------------------------------------------- */

.ProgressBar p {
    font-size: 1.1vw;
    float: right;
}

/* ---------------------------------------------------------------------------------------------------------------------------------------- */

.ProgressBar .Progress {
    display: inline-block;
    width: 100%;
    height: 1vw;
    border-radius: 0.35vw;
    margin: 1vw auto;
    box-shadow: 0 0 0.7vw 0.1vw rgba(3, 31, 36, 0.904);
}

/* =============================================================================================================== */

.Project {
    display: inline-block;
    width: 45%;
    border-radius: 0.5vw;
    margin: 1vw;
    overflow: hidden;
    box-shadow: 0 0 0.5vw 0.1vw rgba(3, 31, 36, 0.904);
}

/* ---------------------------------------------------------------------------------------------------------------------------------------- */

.Project img,
.Project a {
    display: block;
    width: 100%;
}

/* ---------------------------------------------------------------------------------------------------------------------------------------- */

.Project a {
    padding-bottom: 0.5vw;
    font-size: 2vw;
    text-align: center;
    background: rgba(0, 162, 190, 0.863);
}

/* =============================================================================================================== */

.Experience {
    width: 93%;
    border-right: 1px dotted;
    border-top-right-radius: 0.5vw;
    margin: 2vw auto;
}

/* ---------------------------------------------------------------------------------------------------------------------------------------- */

.Experience h4 {
    padding: 0 1vw 0.5vw;
    border-bottom: 1px dotted;
    border-top-left-radius: 0.5vw;
    border-top-right-radius: 0.5vw;
    font-size: 1.8vw;
    text-align: right;
    background: rgba(0, 162, 190, 0.863);
}

/* ---------------------------------------------------------------------------------------------------------------------------------------- */

.Experience h4 .English {
    font-size: 1.27vw;
    font-weight: 300;
}

/* ---------------------------------------------------------------------------------------------------------------------------------------- */

.Experience p {
    padding: 0.5vw;
    font-size: 1.5vw;
    font-weight: bold;
    text-align: justify;
}

/* ---------------------------------------------------------------------------------------------------------------------------------------- */

.Experience p .English {
    font-size: 1vw;
    font-weight: 100;
}

/* =============================================================================================================== */ 

.ContactUs div {
    display: inline-block;
    width: 45%;
    margin: 0.6vw 1vw;
    vertical-align: top;
}

/* ---------------------------------------------------------------------------------------------------------------------------------------- */

.ContactUs ul {
    margin: 0 5%;
    font-size: 1.5vw;
    font-weight: bold;
    text-align: right;
}

/* ---------------------------------------------------------------------------------------------------------------------------------------- */

.ContactUs input,
.ContactUs textarea,
.ContactUs button {
    box-sizing: border-box;
    width: 100%;
    padding: 0.5vw 1vw 1vw;
    border: none;
    border-bottom: 1px solid;
    border-radius: 0.5vw;
    font-size: 1.8vw;
    font-weight: bold;
    text-align: justify;
    background: rgba(255, 255, 255, 0.192);
}

.ContactUs input:focus,
.ContactUs textarea:focus {
    outline: none;
}

/* ---------------------------------------------------------------------------------------------------------------------------------------- */

.ContactUs textarea,
.ContactUs button {
    width: 93%;
    border: 1px solid;
    margin: 0.6vw 1vw 0;
    resize: none;
}

/* ---------------------------------------------------------------------------------------------------------------------------------------- */

.ContactUs button {
    margin-top: 1vw;
    text-align: center;
    cursor: pointer;
}

/* =============================================================================================================== */ 
