.Profile,
.SectionBox {
    position: relative;
    width: 80%;
    padding: 10vw 0;
    margin: 25vw auto 10vw;
    border-radius: 3vw;
    text-align: center;
    background: rgba(54, 143, 185, 0.815);
    box-shadow: 0 0 2vw 1vw rgba(0, 0, 0, 0.664);
}

/* ---------------------------------------------------------------------------------------------------------------------------------------- */

@keyframes ProfileImage {
    0% {box-shadow: 0 0 2vw 1vw red;}
    10% {box-shadow: 0 0 2vw 1vw rgb(255, 94, 0);}
    20% {box-shadow: 0 0 2vw 1vw rgb(255, 217, 0);}
    30% {box-shadow: 0 0 2vw 1vw rgb(102, 255, 0);}
    40% {box-shadow: 0 0 2vw 1vw rgb(0, 255, 76);}
    50% {box-shadow: 0 0 2vw 1vw rgb(0, 225, 255);}
    60% {box-shadow: 0 0 2vw 1vw rgb(0, 38, 255);}
    70% {box-shadow: 0 0 2vw 1vw rgb(153, 0, 255);}
    80% {box-shadow: 0 0 2vw 1vw rgb(247, 0, 255);}
    90% {box-shadow: 0 0 2vw 1vw rgb(255, 0, 149);}
    100% {box-shadow: 0 0 2vw 1vw rgb(255, 0, 0);}
}

/* ---------------------------------------------------------------------------------------------------------------------------------------- */

.Profile img {
    width: 50vw;
    border-radius: 50%;
    margin: 3vw;
    animation: ProfileImage 20s infinite;
}

/* ---------------------------------------------------------------------------------------------------------------------------------------- */

.Profile h1 {
    font-size: 11vw;
    padding-right: 1vw;
}

/* ---------------------------------------------------------------------------------------------------------------------------------------- */

.Profile h2 {
    display: inline-block;
    font-size: 5.5vw;
    margin-top: 4vw;
}

/* =============================================================================================================== */

.SectionBox {
    box-sizing: border-box;
    padding: 5vw;
    margin-top: 10vw;
    text-align: right;
}

/* ---------------------------------------------------------------------------------------------------------------------------------------- */

.SectionBox h3 {
    margin-bottom: 4vw;
    font-size: 7vw;
    text-align: center;
}

/* =============================================================================================================== */

.ID {
    margin-top: -24vw;
}

/* =============================================================================================================== */

.About {
    border: 1px dotted;
    border-radius: 2vw;
    box-shadow: 0 0 1vw 0.3vw rgba(3, 31, 36, 0.733);
}

.About:nth-child(2) {
    margin-bottom: 5vw;
}

/* ---------------------------------------------------------------------------------------------------------------------------------------- */

.About h3 {
    padding: 0 5vw 2vw;
    border-bottom: 1px dotted;
    border-radius: 1.2vw;
    font-size: 8vw;
}

/* ---------------------------------------------------------------------------------------------------------------------------------------- */

.About p {
    display: inline-block;
    padding: 0.2vw 1vw;
    font-size: 5.5vw;
    font-weight: bold;
    text-align: justify;
    overflow-x: auto;
}

/* ---------------------------------------------------------------------------------------------------------------------------------------- */

.About .English {
    font-size: 4vw;
    font-weight: 100;
}

/* =============================================================================================================== */

.ProgressBar p {
    font-size: 4vw;
    float: right;
}

/* ---------------------------------------------------------------------------------------------------------------------------------------- */

.ProgressBar h5 {
    font-size: 4vw;
    float: left;
}

/* ---------------------------------------------------------------------------------------------------------------------------------------- */

.ProgressBar .Progress {
    display: inline-block;
    width: 100%;
    height: 3vw;
    border-radius: 1vw;
    margin: 2.2vw auto;
    box-shadow: 0 0 1.5vw 0.5vw rgba(3, 31, 36, 0.733);
}

/* =============================================================================================================== */

.Project {
    width: 100%;
    border-radius: 1vw;
    margin-bottom: 5vw;
    overflow: hidden;
    box-shadow: 0 0 1.2vw 0.2vw rgba(3, 31, 36, 0.733);
}

.Project:last-child {
    margin: 0;
}

/* ---------------------------------------------------------------------------------------------------------------------------------------- */

.Project img,
.Project a {
    display: block;
    width: 100%;
}

/* ---------------------------------------------------------------------------------------------------------------------------------------- */

.Project a {
    padding-bottom: 1vw;
    font-size: 4.5vw;
    text-align: center;
    background: rgba(0, 162, 190, 0.863);
}

/* =============================================================================================================== */

.Experience {
    border: 1px dotted;
    border-radius: 2vw;
    margin: 5vw 0;
    box-shadow: 0 0 1vw 0.3vw rgba(3, 31, 36, 0.733);
}

.Experience:last-child {
    margin: 0;
}

/* ---------------------------------------------------------------------------------------------------------------------------------------- */

.Experience h4 {
    padding: 0 2vw 2vw;
    border-bottom: 1px dotted;
    border-radius: 1vw;
    font-size: 7vw;
}

/* ---------------------------------------------------------------------------------------------------------------------------------------- */

.Experience h4 .English {
    font-size: 4.5vw;
}

/* ---------------------------------------------------------------------------------------------------------------------------------------- */

.Experience p {
    padding: 1vw;
    font-size: 5vw;
    font-weight: bold;
    text-align: justify;
}

/* ---------------------------------------------------------------------------------------------------------------------------------------- */

.Experience p .English {
    font-size: 4vw;
    font-weight: 100;
}

/* =============================================================================================================== */

.ContactUs input,
.ContactUs textarea,
.ContactUs button {
    box-sizing: border-box;
    width: 100%;
    padding: 1vw 2vw 3vw;
    border: none;
    border-bottom: 1px solid;
    border-radius: 1vw;
    margin: 1vw 0;
    font-size: 5vw;
    font-weight: bold;
    text-align: justify;
    background: rgba(255, 255, 255, 0.11);
    resize: none;
}

/* ---------------------------------------------------------------------------------------------------------------------------------------- */

.ContactUs input:focus,
.ContactUs textarea:focus {
    outline: none;
}

/* ---------------------------------------------------------------------------------------------------------------------------------------- */

.ContactUs textarea,
.ContactUs button {
    border: 1px solid;
}

/* ---------------------------------------------------------------------------------------------------------------------------------------- */

.ContactUs button {
    text-align: center;
    cursor: pointer;
    margin-bottom: 0;
}

/* ---------------------------------------------------------------------------------------------------------------------------------------- */

.ContactUs ul {
    margin: 0 3vw 2vw;
    font-size: 4.5vw;
}

/* =============================================================================================================== */
