@import url("-570px.css") screen and (max-width: 570px);
@import url("+570px.css") screen and (min-width: 571px);

/* =============================================================================================================== */

.ProgressBar .Progress {
    overflow: hidden;
    direction: ltr;
    background-color: rgba(0, 55, 82, 0.274);
}

/* ---------------------------------------------------------------------------------------------------------------------------------------- */

.ProgressBar .Progress div {
    height: 100%;
    background-color: rgba(0, 174, 255, 0.938);
    transition: width 2s;
}

/* =============================================================================================================== */

.ID {
    position: absolute;
    top: 0;
}

/* =============================================================================================================== */
